<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Dynamic Web Apps - Final</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/foundation.css">
  <link rel="stylesheet" href="../css/app.css">

  <!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

  <!--Global main plugins here-->
  <!--jQuery CDN - Minified -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <!-- jQuery-UI CDN - minified-->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <!-- Javascript file for Dynamic form-->
  <!--	<script type="text/javascript" src="/public/javascript/admin-form.js"></script>-->

</head>

<body>
  <div class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <strong>Old Glory</strong>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/artists">Artists</a></li>
          <li><a href="/gallery">Gallery</a></li>
<!--          <li><a href="/contact">Contact</a></li>-->
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    {{{body}}}
  </div>
  <!--	<script type="text/javascript" src="routes/api.js"></script>-->
  <script src="../js/vendor/jquery.js"></script>
  <script src="../js/vendor/what-input.js"></script>
  <script src="../js/vendor/foundation.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/notifier.js"></script>
</body>

</html>