<section>
  <hr>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">About</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="large-12 columns">
      <p class="text-center">Old Glory Tattoo Co. is a custom tattoo shop located in Downtown Asbury Park, NJ. We now offer piercing by appointment and are regularly available for tattoo walk-ins. Some of our artists are strictly appointment based, while others split their time between appointments and walk-ins.</p>

      <p class="text-center">It was the first tattoo shop in Downtown Asbury, established in the Summer of 2012, built from scratch, by Chris StrangeBreu with some help here and there from a couple of contractors. Chris specializes in a form of Neo-Traditional tattooing with a focus on Illustrative and Japanese styles. Though, he can comfortably cover just about any style of tattooing, including portraits and color realism. Chris is also well versed in cover-ups, touch-ups, and re-works.</p>

      <p class="text-center">Johnny Ticklefingers, Matthew Dunn, and Marz Muniz are available for walk-ins and appointments. They are well versed and very capable of handling anything that walks in the door while maintaining their own specialties in traditional, mandalas, Sacred Geometry (Johnny), New school (Matt), Traditional (Marz), Japanese (Marz), Black & Grey (Matt), and Realism (Matt). Currently, we are pleased to be joined by Joe Madden (by appointment only) on Tuesdays and Saturdays, while he splits his time between us and Three Kings in BK. There are also frequent guest artists visiting from all over the country.</p>

      <p class="text-center">The shop has a goal of comfort for artists and clients alike. We work hard to create an enjoyable atmosphere that is clean and comfortable. From top of the line furniture and complimentary bottled water and gatorade, to an refined, eclectic collection of music, we are not your usually tattoo shop experience. With a focus on customer service, we draw up almost everything that we tattoo and encourage a strong collaborative experience for the client. Stop by the shop today for a consultation and appointment!</p>
    </div>
  </div>
</section>
<section>
  <hr>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">Rates</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="medium-6 columns">
      <h3>Hourly:<span><h4>${{hourly}}</h4></span></h3>
    </div>
    <div class="medium-6 columns">
      <h3>Full day:<span><h4>${{day}}</h4></span></h3>
    </div>
    <div class="large-12 columns callout secondary">
      <h3 class="text-center">Attention:</h5>
        <p class="text-center">Appointment-only artists manage their own rates. Please call ahead for consultation on larger or in-depth pieces.</p>
        <hr>
        <p class="text-center">{{deposits}}</p>
    </div>
  </div>
</section>
